<h1>Welcome <span *ngIf="isVisible"> user</span> </h1>
<!-- <app-preview></app-preview> -->

<div *ngIf="isVisible">
  <img [src]="imageUrl" alt="Image">
</div>

<input type="file" (change)="onFolderSelected($event)" webkitdirectory multiple>

<input type="file" (change)="fileUpload($event)"  multiple>


<input type="text" name="cal" id="cal" [(ngModel)]="appName">
<button (click)="launchApp()">open EINO</button>
<button (click)="checkCanOpenUrl()">open EINO</button>


<button (click)="youtube()">open youtube</button>

<!-- <ul>
  <ng-container *ngFor="let folder of folderStructure">
    <li>
      {{ folder.name }}
      <ul>
        <ng-container *ngFor="let item of folder.children">
          <li>
            <a [href]="item.document" target="_blank">{{ item.title }}</a>
          </li>
        </ng-container>
      </ul>
    </li>
  </ng-container>
</ul> -->


<ul>
  <li *ngFor="let item of folderStructure">
    <div *ngIf="item.children">
      {{ item.name }}
    </div>
  </li>
</ul>

<div *ngFor="let p of products">
  <h3>
    {{ p.title }}
  </h3>
  <p>{{ p.description }}</p>

  <h6>
    {{ p.price }} {{ p.currency }}
  </h6>

  <button (click)="purchase(p)">buy</button>
</div>

<div>IAP</div>
<div class="new" *ngIf="addOns">
  name : {{addOns.title}}
  desc : {{addOns.description}}
  price : {{addOns.pricing.price}}
</div>

